ul {
  list-style: none;
  margin: 0px;
  padding: 0px;

  &.list-skills {
    text-align: center;
    font-family: 'Courier', monospace;
    font-size: 1.4em;
    width: 85%;
    margin: auto;
    border-top: 2px solid $ddh-white;
    border-bottom: 2px solid $ddh-white;

    li {
      line-height: 70px;
      border: 1px solid  $ddh-white;
      margin: 20px 0px;
      border-radius: 3px;
    }
  }
}
