@import "colors";
@import "typography";
@import "lists";
@import "components/accordion";
@import "components/header";
@import "components/layout";
@import "components/menu-mobile";

*, html {
  box-sizing: border-box;
}

body {
  background-color: $ddh-black;
  background-image: url("/images/micro-carbon.png");
  background-repeat: repeat;
}
