@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');


* {
  font-family: 'Josefin Sans', Arial, sans-serif;
  color:  $ddh-white;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 40px;
  padding-bottom: 6px;
  width: 85%;
  margin: auto;
}

a {
  text-decoration: none;
  color: $ddh-white;

  &:hover {
    color: #ccc;
  }

  &.box-link {
    display: flex;
    height: 100px;
    width: 100%;
    border: 1px solid #666;
    align-items: center;
    margin-bottom: 20px;

    .box-link-text {
      margin: auto;      
    }
  }
}




