@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway:200,400');

body {
  font-family: 'Raleway', Arial, sans-serif;
  color:  $ddh-white;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  padding-top: 40px;
  padding-bottom: 6px;
  width: 85%;
  margin: auto;
}

a {
  text-decoration: none;
  color: $ddh-white;

  &:hover {
    color: #ccc;
  }

  &.box-link {
    display: flex;
    height: 100px;
    width: 100%;
    border: 1px solid #666;
    align-items: center;
    margin-bottom: 20px;

    .box-link-text {
      margin: auto;      
    }
  }


  &.home-center {
    margin: 12px auto;
    display: block;
    color: white !important;
    font-size: .9em;
    text-align: center;
    text-decoration: underline;
  }
}

span.copyright {
  font-size: .7em;
  color: $ddh-white;
  display: block;
  text-align: center;
}




