@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway:200,400,600');

body {
  font-family: 'Raleway', Arial, sans-serif;
  color:  $ddh-white;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  padding: 15px 15px 10px;
  width: 100%;
  margin: auto;

  @media (min-width: 700px) {
    font-size: 55px;
    width: 90%;
    padding: 15px 0px 6px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $ddh-white;

  &:hover {
    color: #ccc;
  }

  &.box-link {
    display: flex;
    height: 120px;
    width: 100%;
    border: 1px solid #666;
    align-items: center;
    margin-bottom: 0px;

    & span {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }

    .box-link-text {
      margin: auto;
      font-size: 24px;
    }

    @media (min-width: 700px) {
      height: 200px;

      .box-link-text {
        font-size: 34px;
      }
    }
  }


  &.back-link {
    display: none;

    @media (min-width: 700px) {
      display: flex;
      margin: 3% 5% 2%;
      align-items: center;

      & span {
        margin-left: 20px;
      }
    }
  }


  &.home-center {
    margin: 12px auto;
    display: block;
    color: white !important;
    font-size: .9em;
    text-align: center;
    text-decoration: underline;
  }
}

span.copyright {
  font-size: 16px;
  font-weight: 600;
  color: $ddh-white;
  display: block;
  text-align: center;
}




