@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway:200,400,600");
body {
  font-family: 'Raleway', Arial, sans-serif;
  color: #FFF;
  font-size: 16px; }

h1 {
  font-size: 26px;
  font-weight: normal;
  padding: 15px 15px 10px;
  width: 100%;
  margin: auto; }
  @media (min-width: 700px) {
    h1 {
      font-size: 45px;
      width: 90%;
      padding: 15px 0px 6px; } }

a {
  text-decoration: none;
  cursor: pointer;
  color: #FFF; }
  a:hover {
    color: #ccc; }
  a.box-link {
    display: flex;
    height: 120px;
    width: 100%;
    border: 1px solid #666;
    align-items: center;
    margin-bottom: 0px; }
    a.box-link span {
      display: flex;
      flex-grow: 1;
      justify-content: center; }
    a.box-link .box-link-text {
      margin: auto;
      font-size: 24px; }
    @media (min-width: 700px) {
      a.box-link {
        height: 180px; }
        a.box-link .box-link-text {
          font-size: 34px; } }
    @media (max-width: 1200px) {
      a.box-link {
        border-width: 1px 0px 1px 0px; } }
  a.back-link {
    display: none; }
    @media (min-width: 700px) {
      a.back-link {
        display: flex;
        margin: 3% 5% 2%;
        align-items: center; }
        a.back-link span {
          margin-left: 20px; } }
  a.home-center {
    margin: 12px auto;
    display: block;
    color: white !important;
    font-size: .9em;
    text-align: center;
    text-decoration: underline; }

span.copyright {
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  display: block;
  text-align: center; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  ul.list-skills {
    text-align: center;
    font-family: 'Courier', monospace;
    width: 100%;
    padding: 0px 15px;
    margin: auto; }
    ul.list-skills li {
      line-height: 75px;
      border: 1px solid #FFF;
      margin: 20px 0px;
      font-size: 24px;
      border-radius: 5px; }
    ul.list-skills li:first-child {
      margin-top: 0px; }
    @media (min-width: 700px) {
      ul.list-skills {
        width: 90%;
        border-bottom: 2px solid #FFF;
        padding: 0px; }
        ul.list-skills li {
          line-height: 130px;
          font-size: 32px; }
        ul.list-skills li:first-child {
          margin-top: 20px; } }

div.content {
  width: 100%;
  margin: auto; }

body {
  margin: 0px;
  padding: 0px;
  margin: auto; }

footer {
  padding: 20px 0px;
  margin-top: 30px;
  border-top: 1px solid #444; }

#main-container {
  max-width: 1200px;
  margin: auto; }

.img-wrap {
  width: 100%;
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center; }
  .img-wrap img {
    width: 100%;
    min-height: 300px; }
  .img-wrap .cover-text {
    padding: 6%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFF;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
    .img-wrap .cover-text h2 {
      font-size: 36px;
      font-weight: 600;
      margin: 0;
      font-weight: 200;
      line-height: 0.95em; }
      .img-wrap .cover-text h2 br {
        display: none; }
    .img-wrap .cover-text ul {
      margin-top: 15px; }
    .img-wrap .cover-text li {
      font-size: 18px; }
    .img-wrap .cover-text li strong {
      font-size: 1em; }
    @media (min-width: 700px) {
      .img-wrap .cover-text li {
        font-size: 22px; }
      .img-wrap .cover-text h2 br {
        display: initial; } }
    @media (min-width: 900px) {
      .img-wrap .cover-text li {
        font-size: 24px;
        margin-top: 8px; }
      .img-wrap .cover-text h2 {
        font-size: 45px; } }
  .img-wrap--home {
    max-height: 450px;
    overflow: hidden; }

.nav-desktop {
  display: none; }

.content-contact hr {
  width: 100%;
  margin: 20px auto; }

.content-contact ul {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5em; }

.content-contact a {
  color: slateblue; }

.content-experience {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee; }
  .content-experience__consulting, .content-experience__tools {
    width: 100%;
    margin: auto;
    padding: 0px 15px; }
    .content-experience__consulting h2, .content-experience__tools h2 {
      font-size: 28px;
      font-weight: 400;
      margin: 20px 0px 0px 0px; }
    .content-experience__consulting h3, .content-experience__tools h3 {
      margin: 30px 0px 6px 0px;
      font-weight: 600; }
    .content-experience__consulting p, .content-experience__tools p {
      margin: 5px 0px 10px 0px; }
    @media (min-width: 700px) {
      .content-experience__consulting, .content-experience__tools {
        width: 90%;
        padding: 20px 20% 30px 3%;
        border-bottom: 2px solid #FFF; } }
  @media (max-width: 700px) {
    .content-experience__tools h3 {
      font-weight: 600;
      font-size: 20px;
      margin: 12px 0px; }
    .content-experience__tools ul {
      margin: -3px 3px 0px;
      line-height: 1.5em;
      font-size: 14px; } }

@media (min-width: 700px) {
  .nav-mobile {
    display: none; }
  .nav-desktop {
    display: initial; } }

.ac-container {
  width: 90%;
  margin: 10px auto 30px auto; }
  .ac-container .client {
    overflow: hidden;
    position: relative;
    max-height: 600px;
    margin-bottom: 20px; }
  .ac-container label {
    padding: 0px;
    position: relative;
    z-index: 20;
    text-align: center;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    overflow: hidden;
    line-height: 33px; }
    .ac-container label .client-cover {
      opacity: 0.7;
      max-height: 100%;
      width: 100%; }
    .ac-container label .client-logo {
      position: absolute;
      right: 8%;
      top: 10%;
      max-height: 20%;
      max-width: 50%;
      z-index: 200; }
    @media (min-width: 700px) {
      .ac-container label .client-logo {
        top: 6%;
        max-height: 20%;
        max-width: 40%; } }
  .ac-container input {
    display: none; }
  .ac-container article {
    width: 88%;
    max-width: 600px;
    height: auto;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: -100%;
    z-index: 20;
    font-size: 16px;
    transition: left 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6); }
    .ac-container article h2 {
      width: 100%;
      margin: 0;
      padding: 20px 10px 15px 30px;
      font-family: Raleway;
      font-weight: 100;
      font-size: 2.5em; }
    .ac-container article p, .ac-container article li {
      font-size: 12px;
      padding-bottom: 7px;
      margin: 0; }
    .ac-container article ul {
      width: 100%;
      padding: 10px 10px; }
    @media (min-width: 500px) {
      .ac-container article li, .ac-container article p {
        font-size: 16px; } }
    @media (min-width: 700px) {
      .ac-container article li, .ac-container article p {
        font-size: 20px;
        padding: 10px 0px; }
      .ac-container article ul {
        padding: 10px 10px 20px 30px; } }
  .ac-container input:checked ~ article {
    left: 0; }
  .ac-container input:checked ~ article {
    transition: left 0.5s ease-in-out; }
  @media (max-width: 700px) {
    .ac-container {
      width: 100%; } }

header {
  width: 100%;
  padding: 60px 0px 20px;
  margin-top: 0px;
  position: relative;
  text-align: center;
  z-index: 50;
  background-image: url("../images/headerbackground.jpg");
  background-position: center;
  background-size: 100% 100%; }
  header .logo {
    width: 100%;
    max-width: 65%;
    margin: auto;
    z-index: 10; }
  header .logo + h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 0px;
    color: #FFF;
    z-index: 10; }
  header .color-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3; }
    header .color-gradient--blue {
      background: linear-gradient(to bottom, rgba(0, 0, 200, 0.4), transparent); }
    header .color-gradient--red {
      background: linear-gradient(to bottom, rgba(200, 0, 0, 0.4), transparent); }
    header .color-gradient--yellow {
      background: linear-gradient(to bottom, rgba(200, 200, 0, 0.4), transparent); }
  @media (min-width: 700px) {
    header {
      padding-top: 110px;
      margin-top: 0px; }
      header .color-gradient {
        display: none; }
      header .logo {
        max-width: 45%; }
      header .logo + h3 {
        font-size: 26px;
        margin-bottom: 36px;
        margin-top: 20px; } }

div.nav-mobile {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 260;
  background-color: transparent;
  transition: top 0.3s; }
  div.nav-mobile.active {
    background-color: transparent; }
  div.nav-mobile.nav-mobile--anchored {
    top: 0; }
  div.nav-mobile button.menu-toggle {
    position: relative;
    display: block;
    overflow: hidden;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    top: 5px;
    left: 5px;
    z-index: 300; }
    div.nav-mobile button.menu-toggle:focus {
      outline: none; }
    div.nav-mobile button.menu-toggle .menu-burger {
      display: block;
      position: absolute;
      border-radius: 3px;
      top: calc(calc(40px / 2) - calc(3px / 2));
      left: 6px;
      right: 6px;
      height: 3px;
      background: #FFF; }
      div.nav-mobile button.menu-toggle .menu-burger::before, div.nav-mobile button.menu-toggle .menu-burger::after {
        position: absolute;
        display: block;
        border-radius: 3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #FFF;
        content: ""; }
      div.nav-mobile button.menu-toggle .menu-burger::before {
        top: -10px; }
      div.nav-mobile button.menu-toggle .menu-burger::after {
        bottom: -10px; }
  div.nav-mobile .menu-mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #141414;
    z-index: 150;
    transition: transform 0.3s;
    transform: translateX(-100%); }
    div.nav-mobile .menu-mobile.active {
      transform: translateX(0);
      box-shadow: 0 0 20px 7px rgba(10, 10, 10, 0.5); }
    @media all and (min-width: 320px) {
      div.nav-mobile .menu-mobile {
        width: 300px; } }
    div.nav-mobile .menu-mobile .menu-items {
      list-style: none;
      position: relative;
      top: 40px;
      margin: 0px;
      padding: 20px 0px;
      text-align: center;
      width: 100%; }
    div.nav-mobile .menu-mobile .menu-item {
      margin: 0px auto 20px;
      background-color: transparent;
      border-radius: 3px;
      border: 1px solid white;
      width: 90%; }
      div.nav-mobile .menu-mobile .menu-item .menu-link {
        display: block;
        padding: 12px 24px;
        width: 100%;
        height: 100%;
        text-align: left;
        text-decoration: none; }
      div.nav-mobile .menu-mobile .menu-item:hover {
        background-color: #1c1c1c; }

#menu-mask {
  position: fixed;
  top: 0;
  left: -100vw;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  transition: 0.15s 0s opacity, 0s 0.15s left;
  z-index: 230; }
  #menu-mask.active {
    opacity: 0.7;
    transition: 0.15s 0s opacity, 0s 0s left;
    left: 0; }

body.has-active-menu {
  overflow: hidden; }

div.nav-mobile .menu-toggle .menu-burger {
  transition: background 0s 0.1s; }
  div.nav-mobile .menu-toggle .menu-burger::before, div.nav-mobile .menu-toggle .menu-burger::after {
    transition-duration: 0.1s, 0.1s, 0.1s;
    transition-delay: 0.1s, 0s, 0.1s; }
  div.nav-mobile .menu-toggle .menu-burger::before {
    transition-property: top, transform, background; }
  div.nav-mobile .menu-toggle .menu-burger::after {
    transition-property: bottom, transform, background; }

div.nav-mobile .menu-toggle.active .menu-burger {
  background: none; }
  div.nav-mobile .menu-toggle.active .menu-burger::before {
    top: 0;
    transform: rotate(45deg); }
  div.nav-mobile .menu-toggle.active .menu-burger::after {
    bottom: 0;
    transform: rotate(-45deg); }
  div.nav-mobile .menu-toggle.active .menu-burger::before, div.nav-mobile .menu-toggle.active .menu-burger::after {
    transition-delay: 0s, 0.1s, 0s;
    background: #FFF; }

a.mobile-nav-logo {
  display: inline-block;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  justify-content: flex-end;
  z-index: 150;
  padding: 5px; }
  a.mobile-nav-logo img {
    height: 100%; }

div.nav-mobile a.mobile-nav-logo {
  display: none; }

div.nav-mobile--anchored {
  background-image: url("../images/header-bg-slim.jpg");
  background-position: bottom;
  background-size: 100%; }
  div.nav-mobile--anchored a.mobile-nav-logo {
    display: inline-block; }

.menu-desktop {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 500;
  max-width: 1200px;
  margin: 0 auto; }
  .menu-desktop .menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .menu-desktop .menu-items .menu-item {
      padding: 0 30px;
      margin: 20px 0px;
      font-size: 30px;
      border-right: 2px solid #FFF; }
      .menu-desktop .menu-items .menu-item:last-child {
        border: none; }

*, html {
  box-sizing: border-box; }

body {
  background-color: #000; }
