@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans");
* {
  font-family: 'Josefin Sans', Arial, sans-serif;
  color: #EEE;
  font-size: 16px; }

h1 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 40px;
  padding-bottom: 6px;
  width: 85%;
  margin: auto; }

a {
  text-decoration: none;
  color: #EEE; }
  a:hover {
    color: #ccc; }
  a.box-link {
    display: flex;
    height: 100px;
    width: 100%;
    border: 1px solid #666;
    align-items: center;
    margin-bottom: 20px; }
    a.box-link .box-link-text {
      margin: auto; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  ul.list-skills {
    text-align: center;
    width: 85%;
    margin: auto; }
    ul.list-skills li {
      line-height: 50px;
      border: 1px solid #EEE;
      margin: 20px 0px;
      border-radius: 3px; }
      ul.list-skills li:first-child {
        margin-top: 10px; }
  ul.list-experience {
    margin: auto;
    margin-top: 30px;
    width: 85%; }
    ul.list-experience li {
      border-top: 1px solid #666;
      padding: 15px 0px; }
    ul.list-experience p {
      margin: 0px 0px 7px 0px; }
    ul.list-experience a {
      color: #557EFF;
      text-decoration: underline;
      font-size: 14px; }
      ul.list-experience a:hover {
        color: #EEE; }

.ac-container {
  width: 85%;
  margin: 10px auto 30px auto; }
  .ac-container label {
    padding: 15px 20px;
    position: relative;
    z-index: 20;
    text-align: center;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    color: #111;
    line-height: 33px;
    background: #008400; }
  .ac-container input {
    display: none; }
  .ac-container article {
    margin-top: -1px;
    overflow: hidden;
    margin-bottom: 20px;
    max-height: 0px;
    position: relative;
    z-index: 10;
    transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear; }
  .ac-container input:checked ~ article.ac-small {
    max-height: 400px; }
  .ac-container input:checked ~ article.ac-medium {
    max-height: 400px; }
  .ac-container input:checked ~ article.ac-large {
    max-height: 400px; }
  .ac-container input:checked ~ article {
    transition: max-height 0.5s ease-in-out, box-shadow 0.1s linear; }

header {
  width: 100%;
  padding: 80px 15% 30px;
  position: relative;
  text-align: center;
  z-index: 50;
  background-color: #008400;
  background-image: url("../images/dimension.png");
  background-blend-mode: multiply; }
  header .logo {
    width: 100%;
    max-width: 500px;
    margin: auto; }

div.content {
  width: 100%;
  margin: auto; }
  div.content.content-contact {
    width: 85%; }
    div.content.content-contact h1 {
      width: 100%;
      margin-bottom: 12px; }

body {
  margin: 0px;
  padding: 0px;
  margin: auto; }

#main-container {
  max-width: 900px;
  margin: auto; }

.img-wrap {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; }
  .img-wrap img {
    width: 100%; }
  .img-wrap .hover-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEE;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center; }
  .img-wrap--home {
    max-height: 300px;
    overflow: hidden; }

div.nav-mobile {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 260;
  background-color: #008e00;
  transition: top 0.3s; }
  div.nav-mobile.active {
    background-color: transparent; }
  div.nav-mobile.nav-mobile--anchored {
    top: -50px; }
  div.nav-mobile button.menu-toggle {
    position: relative;
    display: block;
    overflow: hidden;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    top: 5px;
    left: 5px;
    z-index: 300; }
    div.nav-mobile button.menu-toggle:focus {
      outline: none; }
    div.nav-mobile button.menu-toggle .menu-burger {
      display: block;
      position: absolute;
      border-radius: 3px;
      top: calc(calc(40px / 2) - calc(4px / 2));
      left: 6px;
      right: 6px;
      height: 4px;
      background: #2b2b2b; }
      div.nav-mobile button.menu-toggle .menu-burger::before, div.nav-mobile button.menu-toggle .menu-burger::after {
        position: absolute;
        display: block;
        border-radius: 3px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #2b2b2b;
        content: ""; }
      div.nav-mobile button.menu-toggle .menu-burger::before {
        top: -10px; }
      div.nav-mobile button.menu-toggle .menu-burger::after {
        bottom: -10px; }
  div.nav-mobile .menu-mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #252525;
    z-index: 150;
    transition: transform 0.3s;
    transform: translateX(-100%); }
    div.nav-mobile .menu-mobile.active {
      transform: translateX(0);
      box-shadow: 0 0 20px 7px rgba(10, 10, 10, 0.5); }
    @media all and (min-width: 320px) {
      div.nav-mobile .menu-mobile {
        width: 300px; } }
    div.nav-mobile .menu-mobile .menu-items {
      list-style: none;
      position: relative;
      top: 40px;
      margin: 0px;
      padding: 20px 0px;
      text-align: center;
      width: 100%; }
    div.nav-mobile .menu-mobile .menu-item {
      margin: 0px auto 20px;
      background-color: #008400;
      border-radius: 3px;
      width: 90%; }
      div.nav-mobile .menu-mobile .menu-item .menu-link {
        display: block;
        padding: 12px 24px;
        width: 100%;
        height: 100%;
        text-align: left;
        text-decoration: none; }

#menu-mask {
  position: fixed;
  top: 0;
  left: -100vw;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-color: #111;
  transition: 0.15s 0s opacity, 0s 0.15s left;
  z-index: 230; }
  #menu-mask.active {
    opacity: 0.7;
    transition: 0.15s 0s opacity, 0s 0s left;
    left: 0; }

body.has-active-menu {
  overflow: hidden; }

div.nav-mobile .menu-toggle .menu-burger {
  transition: background 0s 0.1s; }
  div.nav-mobile .menu-toggle .menu-burger::before, div.nav-mobile .menu-toggle .menu-burger::after {
    transition-duration: 0.1s, 0.1s, 0.1s;
    transition-delay: 0.1s, 0s, 0.1s; }
  div.nav-mobile .menu-toggle .menu-burger::before {
    transition-property: top, transform, background; }
  div.nav-mobile .menu-toggle .menu-burger::after {
    transition-property: bottom, transform, background; }

div.nav-mobile .menu-toggle.active .menu-burger {
  background: none; }
  div.nav-mobile .menu-toggle.active .menu-burger::before {
    top: 0;
    transform: rotate(45deg); }
  div.nav-mobile .menu-toggle.active .menu-burger::after {
    bottom: 0;
    transform: rotate(-45deg); }
  div.nav-mobile .menu-toggle.active .menu-burger::before, div.nav-mobile .menu-toggle.active .menu-burger::after {
    transition-delay: 0s, 0.1s, 0s;
    background: #EEE; }

*, html {
  box-sizing: border-box; }

body {
  background-color: #111;
  background-image: url("/images/micro-carbon.png");
  background-repeat: repeat; }
