$wrapper-width: 1200px;

div.content {
  width: 100%;
  margin: auto;
}

body {
  margin: 0px;
  padding: 0px;
  margin: auto;
}

footer {
  padding: 20px 0px;
  margin-top: 30px;
  border-top: 1px solid #444;
}

#main-container {
  max-width: $wrapper-width;
  margin: auto;
}

.img-wrap {
  width: 100%;
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    min-height: 300px;
  }

  .cover-text {
    padding: 6%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    color:  $ddh-white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    h2 {
      font-size: 36px;
      font-weight: 600;
      margin: 0;
      font-weight: 200;
      line-height: 0.95em;

      br {
        display: none;
      }
    }

    ul {
      margin-top: 15px;
    }

    li {
      font-size: 18px;
    }

    li strong {
      font-size: 1em;
    }

    @media (min-width: 700px) {

      li {
        font-size: 22px;
      }

      h2 {

        br {
          display: initial;
        }
      }
    }

    @media (min-width: 900px) {
      li {
        font-size: 24px;
        margin-top: 8px;
      }

      h2 {
        font-size: 45px;
      }
    }
  }

  &--home {
    max-height: 450px;
    overflow: hidden;
  }
}

.nav-desktop {
  display: none;
}

.content-contact {
  
  hr {
    width: 100%;
    margin: 20px auto;
  }

  ul {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5em;
  }

  a {
    color: slateblue;
  }
}

.content-experience {

  padding-bottom: 20px;
  border-bottom: 1px solid #eee;

  &__consulting, &__tools {
    width: 100%;
    margin: auto;
    padding: 0px 15px;


    h2 {
      font-size: 28px;
      font-weight: 400;
      margin: 20px 0px 0px 0px
    }

    h3 {
      margin: 30px 0px 6px 0px;
      font-weight: 600;
    }

    p {
      margin: 5px 0px 10px 0px;
    }

    @media (min-width: 700px) {
      width: 90%;
      padding: 20px 20% 30px 3%;
      border-bottom: 2px solid $ddh-white;  
    }
  }

  &__tools {
    @media (max-width: 700px) {
      h3 {
        font-weight: 600;
        font-size: 20px;
        margin: 12px 0px;
      }

      ul {
        margin: -3px 3px 0px;
        line-height: 1.5em;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 700px) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: initial;
  }
}
