.menu-desktop {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 500;
  max-width: $wrapper-width;
  margin: 0 auto;

  .menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu-item {
      padding: 0 30px;
      margin: 20px 0px;
      font-size: 30px;
      border-right: 2px solid $ddh-white;

      &:last-child {
        border: none;
      }
    }
  }
}
