extends ../layout/main
include ../components/accordion
include ../components/backlink

block content
  div.content.content-clients
    +backlink
    
    h1 Clients &amp; Projects
    
    +accordion(locals.clients)
      
