extends ../layout/main

block content
  div.content.content-contact
    h1 Contact Details
    ul
      li Dillon Hawes / UX Consultant
      li San Francisco, CA
      li Email@outlook.com  

    p Instagram: @digitalddh
    p Twitter: @digitalddh
