extends ../layout/main
include ../components/backlink

block content
  div.content.content-contact
    +backlink
    h1 Contact

    hr

    ul
      li Dillon Hawes / UX Consultant
      li San Francisco, CA
      li digitalddh@outlook.com  
      li Instagram: @digitalddh
      li Twitter: @digitalddh
      li
        a(href="mailto:digitalddh@outlook.com") Email for Resume or Credentials
      li
        a(href="https://www.linkedin.com/in/dillonhawes") Connect via LinkedIn

    hr

    a.home-center(href=`${baseUrl + '/'}`) Back to Home
