extends ../layout/main

block content

  div.content.content-experience
    h1 Skills &amp; Experience
    ul.list-skills
      li UX/UI Design
      li Client Consulting
      li Digital Strategy
      li Art Direction

    ul.list-experience
      li
        p Education
        a(href="#") Learn more
      li
        p Consulting
        a(href="#") Learn More
      li
        p Design tools
        a(href="#") Learn More
