extends ../layout/main

block content

  div.content.content-experience
    h1 Skills &amp; Experience
    ul.list-skills
      li UX/UI Design
      li Client Consulting
      li Digital Strategy
      li Art Direction

    div.content-experience__consulting
      h2 Consulting

      h3 Creative Circle
      p 2015 - "It was fun to have Dillon on my team. He was always enthusiastic and happy to tackle anything the client threw at us. I appreciated his fearless approach, always looking for new ideas, and at ease with the clients". - Lad

      h3 Avanade
      p 2015 - Have you ever had a client that doesn't know what they want, but they have a hard-stop deadline? That's when you need to have Dillon on your team! Dillon can get that wireframe, mock-up, or design spec done on time & under budget. He's an innovative thinker that can deliver a product from conceptual design to creation! - Toni

      h3 K-Force

      h3 Insight Global

    div.content-experience__tools
      h2 Tools
      
      h3 Adobe CC
      ul
        li Illustrator
        li Photoshop

      h3 Sketch
      h3 Omnigraffle
      h3 iRise
      h3 Keynote
      h3 Microsoft
      ul
        li Office
        li Powerpoint
        li Outlook


    a.home-center(href=`${baseUrl + '/clients'}`) Go to Clients
    a.home-center(href=`${baseUrl + '/'}`) Return Home
