div.nav-mobile
  button.menu-toggle 
    span.menu-burger toggle menu
  nav.menu-mobile
    ul.menu-items
      each item in locals.menuItems
        li.menu-item
          a.menu-link(href=`${baseUrl + item.url}`)= item.text
